html{
    --text: #EEF0E8;
    --text-variant:#EEF0E8;
    --ongl:#022B3A;
    --bg: #0F051D;
    --bg-variant: #140D1B;


    /* background: linear-gradient(#0c070f, #140D1B); */
    font-family: 'Roboto', sans-serif;

    color: white;

    background-color: #0F051D;
    /* background-image: linear-gradient(to left top, #1b062e, #210a37, #280b40, #2f0c4a, #370c53); */

    /* background-image: linear-gradient(to left top, #1b062e, #1f0935, #240b3c, #290b43, #2f0c4a, #320f52, #35125a, #381563, #371b6f, #33227c, #2c2989, #1e3096)*/
}
html p,h1{
    color: var(--text);
}

#background{
    position: absolute;
    background-color: #0F051D;
    width: 100%;
    height: 100%;
}

.spot{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #8738C0;
    filter: blur(150px);
}

.spot:first-child{
    left: 30%;
    top: 15%;
    animation: 10s linear 1s infinite alternate from_left;
}
.spot:nth-child(2){
    right: 20%;
    top: 45%;
    animation: 8s linear 1s infinite alternate from_left;
}
.spot:last-child{
    filter: blur(250px);
    left: 10%;
    bottom: 0%;
}

#nom{
    color: white;
    position: fixed;
    border-bottom: solid white 0.5px;
    width: 100%;
}

.title{
    position: fixed;
    top: 100px;
    left: 10px;
}

.title::before{
    z-index: -1;
    width: max-content;
    
    /* color: rgba(0,0,0,0); */

    -webkit-text-stroke:0.5px white;
    -webkit-text-fill-color:transparent;

    transform: translateY(-80%);
    font-size: 200%;
    paint-order: stroke fill;

    content: attr(data-text);
    position: absolute;
}

/*
#1B062E
#370C53
#617CFB
*/

nav{
    /* visibility: hidden; */
    position: fixed;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    height: 100%;
    padding-top: 0;
    
    z-index: 1;
}

nav > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: var(--text);
}

main{
    width: 100%;
}

.section{
    margin-bottom: 20px;
    min-height: 100vh;
    clip-path: inset(0px 0px);
    position: relative;
}


#apropos .title{
    
}

.selected{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: border-radius 1s, transform 0.5s, background-color 1.5s;
    background-color: white;
}
.unselected{
    border-radius: 0%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    transition: border-radius 0.5s, transform 0.5s, background-color 0.5s, border 1.5s;
    background-color: rgba(0,0,0,0);
    border: white solid 1px;
}

#accueil{
    display: flex;
    justify-content: center;
    clip-path: inset(0px 0px 0px 0px);
}


.sous_section{
    width: 200px;
    height: 200px;
    background-color: var(--bg-variant);
    border-radius: 10px;
    box-shadow: #A96BDA 0px 0px 26px;
}

#texte_presentation{
    position: fixed;

    top: 35%;

    font-size: larger;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: #0F051D; */
    /* border-radius: 10px; */
    /* box-shadow: #A96BDA 0px 0px 26px; */
}

#texte_presentation>h1{
    padding-bottom: 5px;
    border-bottom: solid white 0.5px;
}

#texte_presentation p{
    width: 700px;
}


#projets{
    min-height: 160vh;
    /* background-color: var(--bg-variant); */
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
}

#projets>a{
    color:white;
}
#projets>a:visited{
    color: white;
}

.scroll_section{
    position: fixed;
    display: inline;
    top: 40px;
    width: 100%;
    align-content: center;
}

.scroll_section .project:first-child{
    right: 0px;
}

.project{
    margin-left: 20%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 36px #aa6bdaab;
    transition: box-shadow 0.5s;
    width: 550px;
    height: 300px;
    border-radius: 10px;
}

.project_interior{
    clip-path: inset(0px 0px round 10px);
    display: flex;
    justify-content: center;
    height: 100%;
}

#RichVote{
    background-color: black;
}


.project_panel{
    /*background-color: white;*/
    transform: translateY(200px);
    transition: transform 0.75s;
}
.project:hover{
    box-shadow: 0px 0px 36px #A96BDA;
}
.project:hover .project_panel{
    visibility: visible;

    transform: translateY(0px);
}

.project p{
    max-width: 100%;
}
.project_panel{
    position:absolute;

    margin-top: 150px;
    width: 550px;
}

.projet_illustration{
    z-index: -1;
    max-height: 100%;
    transition: transform 0.75s, opacity 0.75s;
}

.project:hover .projet_illustration{
    transform: scale(1.5);
    opacity: 25%;
}


footer{
    background-color: var(--bg);
    color: var(--text-variant);
    height: 50px;
}

.fromLeft{
    animation-name: from_left;
    animation-duration: 1s;
}
.fromRight{
    animation-name: from_right;
    animation-duration: 1s;
}

.topToDown{
    border-radius: 1cm;
    height: 100px;
    width: 20px;
    background-color: "black";
    position: fixed;
    animation-name: falling;
    animation-duration: 1s;
    visibility: hidden;
}

/* les animations */

@keyframes falling {
    0% {
        top: -100px;
        visibility: visible;
    }
    25%{
        top: 60px;
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes from_bottom {
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes to_bottom {
    from{transform: translateY(0);}
    to{transform: translateY(200px);}
}

@keyframes from_left {
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0px);
    }   
}

@keyframes from_right {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0px);
    }   
}

@keyframes fade_semi_out {
    from{
        opacity: 100%;
    }
    to{
        opacity: 25%;
    }
}