.cursor{
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.hover-this:hover .cursor{
    content: attr(link-text)
}

html{
    --text: #EEF0E8;
    --text-variant:#EEF0E8;
    --ongl:#022B3A;
    --bg: #0F051D;
    --bg-variant: #140D1B;


    /* background: linear-gradient(#0c070f, #140D1B); */
    font-family: 'Roboto', sans-serif;

    color: white;

    /* background-color: #0F051D; */
    /* background-image: linear-gradient(to left top, #1b062e, #210a37, #280b40, #2f0c4a, #370c53); */

    /* background-image: linear-gradient(to left top, #1b062e, #1f0935, #240b3c, #290b43, #2f0c4a, #320f52, #35125a, #381563, #371b6f, #33227c, #2c2989, #1e3096)*/
}

.backsquare{
    background: linear-gradient(to right top, #1b062e, #1f0935, #240b3c, #290b43, #2f0c4a, #320f52, #35125a, #381563, #371b6f, #33227c, #2c2989, #1e3096);
    border-radius: 5px;
}

html p,h1{
    color: var(--text);
}

#background{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #0F051D;
    width: 100%;
    height: 100%;
}

.spot{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #8738C0;
    filter: blur(150px);
}

.spot:first-child{
    left: 30%;
    top: 15%;
    animation: 10s linear 1s infinite alternate from_left;
}
.spot:nth-child(2){
    right: 20%;
    top: 45%;
    animation: 8s linear 1s infinite alternate from_left;
}
.spot:last-child{
    filter: blur(250px);
    left: 10%;
    bottom: 0%;
}

#nom{
    color: white;
    position: fixed;
    border-bottom: solid white 0.5px;
    width: 100%;
}

.title{
    position: fixed;
    top: 100px;
    left: 10px;
}

.title::before{
    z-index: -1;
    width: max-content;
    
    /* color: rgba(0,0,0,0); */

    -webkit-text-stroke:0.5px white;
    -webkit-text-fill-color:transparent;

    transform: translateY(-80%);
    font-size: 200%;
    paint-order: stroke fill;

    content: attr(data-text);
    position: absolute;
}

/*
#1B062E
#370C53
#617CFB
*/

nav{
    /* visibility: hidden; */
    position: fixed;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    height: 100%;
    padding-top: 0;
    
    z-index: 1;
}

nav > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: var(--text);
}

main{
    width: 100%;
}

.section{
    margin-bottom: 20px;
    min-height: 100vh;
    clip-path: inset(0px 0px);
    position: relative;
}


.selected{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: border-radius 1s, transform 0.5s, background-color 1.5s;
    background-color: white;
}
.unselected{
    border-radius: 0%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    transition: border-radius 0.5s, transform 0.5s, background-color 0.5s, border 1.5s;
    background-color: rgba(0,0,0,0);
    border: white solid 1px;
}

#accueil{
    display: flex;
    justify-content: center;
    clip-path: inset(0px 0px 0px 0px);
}

#texte_presentation{
    position: fixed;

    top: 35%;

    font-size: larger;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: #0F051D; */
    /* border-radius: 10px; */
    /* box-shadow: #A96BDA 0px 0px 26px; */
}

#texte_presentation>h1{
    padding-bottom: 5px;
    border-bottom: solid white 0.5px;
}

#texte_presentation p{
    width: 700px;
}

.onglets_apropos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sous_section{
    transition: opacity 0.5s;
}

.onglets_apropos:hover > *{
    opacity: 0.5;
}

.sous_section:hover{
    opacity: 1;
}

/* .sous_section:nth-child(3){
    width: min-content;
} */


/* .sous_section{
    width: 200px;
    height: 200px;
    background-color: var(--bg-variant);
    border-radius: 10px;
    box-shadow: #A96BDA 0px 0px 26px;
} */


#projets{
    min-height: 160vh;
    /* background-color: var(--bg-variant); */
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
}

#projets>a{
    color:white;
}
#projets>a:visited{
    color: white;
}

.scroll_section{
    position: fixed;
    display: inline;
    top: 40px;
    width: 100%;
    align-content: center;
}

.scroll_section .project:first-child{
    right: 0px;
}

.project{
    margin-left: 20%;
    margin-bottom: 50px;
    /* box-shadow: -5px -5px 5px #5c2d80ab;
    transition: box-shadow 0.5s, transform 0.5s; */
    width: 550px;
    height: 300px;
    border-radius: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.tags{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tags>p{
    padding: 5px;
    margin: 5px;
    background-color: #A96BDA;
    color: #000;
    border-radius: 10px;
}

#RichVote{
    background-color: black;
}

#illu_RV{
    display: block;
    margin-left: auto;

    margin-right: auto;
}

.project:hover{
    visibility: hidden;
}


.project:hover .project_panel{
    visibility: visible;
    opacity: 100%;
    transition: opacity 0.5s;
}

.project_panel img{
    position: absolute;
    bottom: 0px;
    max-height: 50px;
}

.project p{
    max-width: 100%;
}
.project_panel{
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.5s;
    height: 300px;

    z-index: -1;
    position:absolute;

    transform: translate(0px, -300px);
    transition: transform 0.75s;

    width: 500px;
    padding-left: 50px;
}

.projet_illustration{
    max-height: 100%;
}

form{
    width: 200px;
    display: block;
}

form *{
    margin: 5px;
}

#annexe>div{
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(50% 50%); */
    align-items: center;
}

.lien_perso>img{
    width: 50px;
    height: 50px;
}


footer{
    background-color: var(--bg);
    color: var(--text-variant);
    height: 50px;
}

.fromLeft{
    animation-name: from_left;
    animation-duration: 1s;
}
.fromRight{
    animation-name: from_right;
    animation-duration: 1s;
}

.topToDown{
    border-radius: 1cm;
    height: 100px;
    width: 20px;
    background-color: "black";
    position: fixed;
    animation-name: falling;
    animation-duration: 1s;
    visibility: hidden;
}

/* les animations */

@keyframes falling {
    0% {
        top: -100px;
        visibility: visible;
    }
    25%{
        top: 60px;
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes from_bottom {
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes to_bottom {
    from{transform: translateY(0);}
    to{transform: translateY(200px);}
}

@keyframes from_left {
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0px);
    }   
}

@keyframes from_right {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0px);
    }   
}

@keyframes fade_semi_out {
    from{
        opacity: 100%;
    }
    to{
        opacity: 25%;
    }
}






/* //////////////////// --PROJETS-- //////////////////////////////////// */

.page_projet .title::before{
    /* background-color: #0F051D; */
    border-radius: 5px;
}

.page_projet{
    display: inline-block;
    padding-top: 300px;
}

.page_projet main{
    transform: translateX(60%);
}

.page_projet .backsquare{
    max-width: 600px;
}

.galerie{
    /* clip-path: inset(0px 0px); */
    width: 700px;
    overflow-x: auto;
    display: flex;
    display: none;
    background-color: red;
}

.galerie > *{
    padding: 20px;
}

.galerie video{
    max-height: 700px;
}

.galerie img{
    max-height: 700px;
}