@import './base.css';

:root {
    --primary-bg-color: rgb(144, 198, 124);
    --primary-bg-color-t: rgba(144, 198, 124, 0.16);
    --secondary-bg-color: rgb(103, 174, 110);
    --secondary-bg-color-t: rgba(103, 174, 110, 0.16);
    --terciary-bg-color: rgb(50, 142, 110);
    --terciary-bg-color-t: rgba(50, 142, 110, 0.16);

    --primary-font-color: rgb(255, 255, 255); /* rgb(225, 238, 188);*/

    --vacp-width-border: 0px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

#app {
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
    color: var(--primary-font-color);
}

a,
.green {
    text-decoration: none;
    color: var(--primary-font-color);
    transition: 0.4s;
    padding: 3px;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

.glass {
    color: white;
    background: var(--primary-bg-color-t);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.separator_v {
    width: 3px;
    background-color: white;
    margin: 60px 30px;
    border-radius: 5px;
}

.separator_h {
    height: 3px;
    background-color: white;
    margin: 30px 60px;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
}

.round {
    border-radius: 5px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

/* 
@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } 
} */
